<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Educación y Cultura</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-content>
  
    <ion-card padding>
      <ion-card-content>
        <img src="./assets/img/edu1.png" alt="mercadeo ">
      </ion-card-content>
      <br>
      <br>
      <ion-card-content>
        <img src="./assets/img/edu2.png" alt="mercadeo ">
      </ion-card-content>
      <br>
      <br>
      <ion-card-title text-center>
        1. JARDINERÍA Y CULTIVO DE LA TIERRA.
      </ion-card-title>
      <br>
      <br>
      <b>Aire puro en casa: Plantas de interior</b> ¿Tiene buena mano para las plantas? En este taller aprenderá a
      conocer las plantas que se pueden tener en casa, cómo cuidarlas, qué necesitan y cuál es el mejor ambiente para
      ellas.
      <br>
      La experiencia incluye materiales demostrativos para práctica de siembra, recomendaciones y un listado sugerido de
      plantas para tener en casa. Dirigido a novatos y apasionados por la jardinería.
      <br>
      <br>
      <b>Microcosmos: Suculentas y Cactus para el equilibrio de las energías</b> Los participantes aprenderán conceptos
      básicos para el diseño, selección de plantas y recipientes, así como el cuidado de los terrarios o microjardines.
      Durante esta experiencia se discutirá sobre la contribución de éstas en la absorción de radiaciones en espacios
      cerrados, ambientes laborales y domésticos, el manejo del estrés y su aporte estético.
      <br>
      <br>
      <b>Jardines comestibles: Huertas caseras </b> Queremos incentivar el cultivo de plantas comestibles en el contexto
      urbano, promoviendo el uso óptimo de espacios reducidos y recipientes no convencionales para producir alimentos
      sanos. Este taller invita a la creatividad y a sembrar una plántula de hortaliza, aromática o medicinal para
      llevarla consigo. Incluye plántulas y sustrato para la siembra. Dirigido a todo tipo de público.
      <br>
      <br>
      <ion-card-title text-center>
        2. ARTES Y BOTÁNICA.
      </ion-card-title>
      <br>
      <br>
      <b>Los colores de las plantas </b> Jornada para acercarse a campesinos y productores locales. Los participantes
      explorarán técnicas de extracción de pinturas vegetales y diversas plantas para después utilizarlas en creaciones
      artísticas.
      <br>
      <br>
      <b>Ilustración Botánica</b> Este taller invita a la observación de los detalles de la naturaleza y cómo plasmarlos
      a partir de diferentes técnicas.
      <br>
      Incluye materiales demostrativos para la práctica de ilustración y creación artística. Dirigido a todo tipo de
      público.
      <br>
      Incluye materiales demostrativos para la práctica de extracción de tinturas y creación artística. Dirigido a niños
      y jóvenes.
      <br>
      <br>
      <ion-card-title text-center>
        3. GASTRONOMÍA Y SANA NUTRICIÓN.
      </ion-card-title>
      <br>
      <br>
      <b>El jardín de las delicias: Plantas aromáticas </b> Con el propósito de incentivar el cultivo y uso de las
      especias, exploraremos las propiedades de las plantas aromáticas en nuestra cocina.
      <br>
      Incluye plántulas y sustrato para la siembra de un pequeño jardín de especias y una práctica de procesamiento y
      uso de ellas. Dirigido a jóvenes y adultos.
      <br>
      <br>
      <b>Loncheras saludables </b>Una invitación a salir de la rutina de nuestro almuerzo en el trabajo o en la calle a
      partir de descubrir combinaciones alimenticias fáciles y saludables. En este taller le enseñaremos tres recetas a
      partir de la exploración de diferentes plantas.
      <br>
      Incluye materiales demostrativos para la preparación de tres recetas. Dirigido a adultos.
      <br>
      <br>
      <ion-card-title text-center>
        4. BIENESTAR Y NATURALEZA.
      </ion-card-title>
      <br>
      <br>
      <b>Separación y reciclaje en tu empresa </b> Dirigido a todos aquellos que quieren aportar a la naturaleza y
      lograr un cambio en su entorno. ¿Qué hacer con el aceite del atún o dónde botar las pilas viejas? ¿Es verdad que
      el café es bueno para las plantas? ¿Qué significan todos los colores de las bolsas para separar residuos?
      <br>
      El taller incluye una breve guía de separación de residuos en su empresa y hogar. Apto para todas las edades.
      <br>
      <br>
      <b>Pausa activa: el poder de las plantas </b> El poder preventivo y curativo de las plantas se ha utilizado desde
      hace muchos años para recuperar el bienestar general y la buena salud.
      <br>
      Dirigida a grupos empresariales, la duración es de 15 minutos dentro del Jardín Botánico.
      <br>
      <br>
      <ion-card-subtitle text-center>
        ¡DISEÑAMOS EXPERIENCIAS según sus necesidades!
      </ion-card-subtitle>
      <br>
      <br>
      <ion-card-title text-center>
        5. OTRAS EXPERIENCIAS.
      </ion-card-title>
      <br>
      <br>
      <b>Talleres especializados: </b> ¿Quiere mejorar el trabajo en equipo? ¡Aprendan de la naturaleza! Imagínese
      motivar a sus grupos con un taller en nuestra Aula Viva Casa de Las Mariposas o con unas lecturas en medio del
      bosque.
      <br>
      <br>
      <b>Recorridos botánicos guiados: </b> en el Jardín Botánico o en su empresa. Esta actividad le permitirá a su
      equipo de trabajo dimensionar la importancia de la naturaleza y los servicios ecosistémicos.
      <br>
      <br>
      <b>Recorridos con linternas: </b> en las noches en el Jardín Botánico (experiencias lúdico - cultural) le
      invitamos a realizar un recorrido nocturno de la mano de duendes que le contarán historias y leyendas del bosque.
      <br>
      <br>
      <b>Mercado Verde en su empresa: </b> jornada para acercarse a productores locales y campesinos.
      <br>
      <br>
    </ion-card>

    <ion-card-content>
      <img src="./assets/img/edu3.png" alt="mercadeo ">
    </ion-card-content>


  </ion-content>