p {
    font-size: 95%;
    text-align: left;
    color: black;
  }
  
  
  
  table {
   
    text-align:center;
   
    background: blue;
  }
  
  table p{
    color: aliceblue;
  }
  
  #titulo1, #titulo4{
    color: rgb(124, 16, 49);
  }
  #titulo2, #titulo5{
    color: orange;
  }
  #titulo3{
    color: green;
  }
  