<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Educacion y Cultura</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <!-- <ion-card *ngFor="let cursos of itemscursos"> -->

  <!-- <h1 text-center><b>{{cursos.get('titulo')}}</b></h1>     -->
  <!-- <ion-img [src]="cursos.get('imagen')"></ion-img> -->

  <!-- <ion-card-content> -->
  <!-- <h5>{{cursos.get('descripcion')}}</h5> -->
  <!-- <br> -->
  <!-- <h6> {{cursos.get('fechas')}}</h6> -->
  <!-- <br> -->
  <!-- <h6> {{cursos.get('lugar')}}</h6> -->

  <!-- </ion-card-content> -->

  <!-- </ion-card> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Portafolio de educación y cultura</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        El proceso de Educación y Cultura del Jardín Botánico Joaquín Antonio Uribe de Medellín, busca contribuir a la
        conservación de la biodiversidad a través del diseño de experiencias que permitan la comprensión de los retos
        socioambientales y el establecimiento de una relación más amorosa con el entorno.
        <br>
        <br>
        Continuamente creamos experiencias culturales como exposiciones, noches de linternas, recorridos guiados,
        mercados verdes, encuentros con la ciencia y tertulias botánicas. Si quieres ampliar información o explorar un
        curso a la medida para tu empresa, familia o amigos.
        <br>
        <strong> Contáctanos al correo
          educacionycultura@jbotanico.org o al
          teléfono 444 5500 ext 135.</strong>
      </p>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Atrévete a explorar tus talentos en nuestras cuatro áreas temáticas:</ion-card-title>
    </ion-card-header>


    <ion-card-content>

      <ion-card-subtitle>1. Agricultura y cuidado de la Tierra</ion-card-subtitle>
      <img src="assets/img/1.PNG">

      <br>
      <ion-card-subtitle>2. Artes y botánica</ion-card-subtitle>
      <img src="assets/img/2.PNG" >


      <br>
      <ion-card-subtitle>3. Bienestar y naturaleza</ion-card-subtitle>
      <img src="assets/img/4.PNG" >


      <br>
      <ion-card-subtitle>4. Gastronomía y Sana Nutrición</ion-card-subtitle>
      <img src="assets/img/5.PNG" >


    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>¡Prográmate!</ion-card-title>
    </ion-card-header>

    <ion-card-subtitle>Tenemos diferentes actividades en nuestro Jardín:</ion-card-subtitle>
    <ion-card-content>
      <p><strong>Conoce el Jardín de la mano de expertos. </strong>Todos los sábados y domingos a las 10:30 a.m. y 2:00
        p.m. Duración 1
        hora, valor $5.000 por persona.</p><br>
      <p><strong>Tertulias Botánicas.</strong> Todos los últimos miércoles del mes de 5:00 a 6:30 p.m. Inspírate con el
        mundo de la literatura en nuestra Sala de Lectura y Cultura.
      </p><br>
      <p><strong>Semillas de Ciencia.</strong> Todos los primeros jueves del mes de 5:00 a 6:30 p.m. Deslúmbrate con
        todo lo que la ciencia tiene para contarte en nuestra Sala de Lectura y Cultura.</p>
      <p><strong>
          Sábados de 9:00 a.m. a 1:00 p.m. Escoge el taller que más te guste, paga y disfrútalo.</strong></p>
      <br>
      <p><i>Te invitamos a conocer y participar en nuestros talleres y actividades.</i></p>
    </ion-card-content>
  </ion-card>



</ion-content>