<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons> 
    <ion-title>Tarifas y Horarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <p text-center>
        El Jardín abre sus puertas de 9:00 a.m. a 4:30 p.m. en jornada continua, incluyendo fines de semana y días festivos. Excepto en eventos especiales.
    </p>
    <h1 text-center style="font-weight: bold;">Restaurante In Situ</h1> 
    <p class="titulos">
       - Desayunos con previa reserva:
    </p>

    <p>lunes a sábado de 7a.m. a 10 a.m. / domingo y festivos 9 a.m. a 11 a.m.</p>

    <p class="titulos">
        - Picnics en el Jardín:
      </p>

      <p>lunes a domingo de 9 a.m. a 4 p.m.</p>

      <p class="titulos">
        - Almuerzos:
        </p>

      <p>lunes a viernes de 12 m a 3 p.m.; sábado de 12 m a 3:30 p.m.; domingo y festivos 12 m a 4 p.m.</p>

      <p class="titulos">
          - Cenas:
        </p>

        <p>jueves a sábado de 7 p.m. a 10 p.m. cuando se cierra la cocina, puede permanecer en el restaurante hasta las 11 p.m.</p>

        <br>
    
        <h3 text-center style="font-weight: bold;">¿Tiene algún valor la entrada al jardín?</h3> 

      <p>
          Gracias al programa de Formación de Públicos de la <ion-text color="primary"  style="font-weight: bold;" >Alcaldía de Medellín,</ion-text>  el Jardín Botánico puede disfrutarse en forma 
        <ion-text color="secondary" style="font-weight: bold;" >GRATUITA. </ion-text>
      </p>


      <ion-card>
      <p>A nuestros caminantes les recordamos que el ingreso es a partir de las 6:30 a.m. Nos preocupa la seguridad de todos y debemos evitar la circulación compartida de peatones y carros (éstos últimos ingresan entre las 6:00 a.m. y las 8:00 a.m.)
        </p>
    </ion-card>


    </ion-card>
</ion-content>
