<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Jardin Botanico de Medellin</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Nota: esto es para conexion a base de datos ya la tabla esta creada. -->
  <!-- <ion-card *ngFor="let institucional of itemsInstitucional"> -->
  <!-- <ion-card-header>           -->
  <!-- <ion-card-title>{{institucional.get('titulo')}}</ion-card-title> -->
  <!-- </ion-card-header> -->
  <!-- <ion-card-content> -->
  <!-- {{institucional.get('descripcion')}} -->
  <!-- <br>             -->
  <!-- </ion-card-content> -->
  <!-- </ion-card> -->


  <ion-card class="info">
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        <h1>¿Qué se puede hacer en el jardín?</h1>
      </ion-card-title>
      <p>Estos son algunos de los recorridos que te recomendamos, puedes disfrutar de nuestras colecciones vivas,
        nuestras aulas de aprendizaje, conocer nuestros espacios arquitectónicos y finalizar con una deliciosa comida.
      </p>
      <br>

      <ion-card-title>
        <h1>Colecciones Vivas</h1>
      </ion-card-title>

      <p>Es nuestra razón de ser como jardín botánico, en tu recorrido podrás encontrar un palmétum, nuestro sendero a
        través de un bosque tropical, podrás disfrutar de una colección prehistórica con las zamias, especies que datan
        de la era de los dinosaurios, el jardín del desierto y la laguna Francisco José de Caldas, donde podrás ver
        diferente fauna y flora, asociada a este ecosistema natural, llamado humedal.</p>
      <br>

      <ion-slides>

        <ion-slide>
          <ion-card-content>
            <img src="assets/img/Captura1.PNG" alt="">
          </ion-card-content>
        </ion-slide>

        <ion-slide>
          <ion-card-content>
            <img src="assets/img/Captura2.PNG" alt="">
          </ion-card-content>
        </ion-slide>

        <ion-slide>
          <ion-card-content>
            <img src="assets/img/Captura3.PNG" alt="">
          </ion-card-content>
        </ion-slide>

        <ion-slide>
          <ion-card-content>
            <img src="assets/img/Captura4.PNG" alt="">
          </ion-card-content>
        </ion-slide>

        <ion-slide>
          <ion-card-content>
            <img src="assets/img/Captura5.PNG" alt="">
          </ion-card-content>
        </ion-slide>

        <ion-slide>
          <ion-card-content>
            <img src="assets/img/Captura6.PNG" alt="">
          </ion-card-content>
        </ion-slide>

        <ion-slide>
          <ion-card-content>
            <img src="assets/img/Captura7.PNG" alt="">
          </ion-card-content>
        </ion-slide>

        <ion-slide>
          <ion-card-content>
            <img src="assets/img/Captura3.PNG" alt="">
          </ion-card-content>
        </ion-slide>

      </ion-slides>

      <ion-card-title>
        <h1>Aulas de aprendizaje</h1>
      </ion-card-title>
      <p>Un lugar para apreciar las mariposas en un hábitat natural en la Casa de las Mariposas Forjas Bolívar, un
        espacio abierto para aprender a cultivar nuestros propios alimentos en el Laboratorio de Agricultura Urbana,
        nuestra Sala de Lectura y Cultura para sumergirse en los textos y disfrutar un rato de lectura en silencio y
        finalmente, un salón con documentos patrimoniales que cuentan la historia de nuestro Jardín y de toda la ciudad
        de Medellín en el Centro de Documentación Patrimonial.
        Estos lugares reúnen el conocimiento de nuestros expertos y son el epicentro para contarles a nuestros
        visitantes cómo hacemos ciencia en un espacio lleno de naturaleza.
      </p>
      <br>

      <ion-card-title>
        <h1>Espacios arquitectónicos</h1>
      </ion-card-title>
      <p>Símbolos de la arquitectura y referentes de nuestra ciudad, Medellín. Contamos con diferentes espacios que son
        reconocidos a nivel nacional y mundial por su diseño y cómo combinan con su entorno para recibir a clientes y
        visitantes en diferentes espacios como eventos sociales, académicos y culturales.</p>
      <br>
      <h2>Definición de los lugares:</h2>

      <ion-slides>
        <ion-slide>


          <ion-card-content>
            <p> • Orquideorama José Jerónimo Triana: su forma y estructura permite múltiples posibilidades de
              distribución, tanto para eventos masivos, como para actos sencillos y reservados.
            </p>
            <img src="assets/img/orquideorama.PNG" alt="">
          </ion-card-content>

        </ion-slide>
        <ion-slide>


          <ion-card-content>

            <p>• Patio de las Azaleas: es un espacio abierto con amplios jardines, fuentes y corredores cubiertos que
              evocan tranquilidad.</p>
            <img src="assets/img/patio.PNG" alt="">
          </ion-card-content>

        </ion-slide>
        <ion-slide>

          <ion-card-content>
            <p>• Teatro Sura: El secreto de este jardín está en la capacidad que tiene la naturaleza para crecer en todo
              tipo de condiciones. Un escenario al aire libre que permite presentaciones musicales de diversa índole,
              desde conciertos de obras clásicas hasta ritmos populares a cargo de jóvenes músicos que asumen su trabajo
              como búsqueda de raíces e identidad..</p>

            <img src="assets/img/teatro.PNG" alt="">
          </ion-card-content>

        </ion-slide>
        <ion-slide>

          <ion-card-content>
            <p>• Herbario: ubicado en el Edificio Científico, es el lugar donde todos los días nuestros expertos
              investigan y catalogan especies que son incluidas en los registros del Herbario Joaquín Antonio Uribe de
              Medellín. Si quieres hacer un recorrido por este espacio, debes solicitar un permiso de visita grupal a
              través de nuestro sitio web, sección Planea tu visita, con 5 días hábiles de anterioridad.</p>
            <img src="assets/img/edificio.PNG" alt="">
          </ion-card-content>


        </ion-slide>

        <ion-slide>
          <ion-card-content>
            <p>• Salón de los Magnolios y Villa de los Jardineros: este espacio, aunque es poco conocido es muy
              emblemático para nosotros. Allí todos los días, cientos de jardineros se preparan para salir a las calles
              para cumplir una misión clara: embellecer la ciudad con la construcción y adecuación de diferentes
              jardines,
              que hacen de Medellín, una ciudad llena de vida.</p>

          </ion-card-content>



        </ion-slide>


      </ion-slides>

    </ion-card-content>
  </ion-card>







</ion-content>