<ion-content padding>
    <br>
    <br>
    <br>

    <ion-grid>
        <ion-row> 
            <ion-col col-6>
                <ion-button size="large" expand="full" class="botones" routerLink="/investigacion"   color="tertiary" >
                    <ion-card-title text-center padding class="titulo2"><b>Investigacion y Conservacion</b></ion-card-title>
                    <ion-icon name="rose" slot="start"></ion-icon>
                    <!-- <ion-img src="assets/img/herbal.png"></ion-img> -->
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <ion-button size="large" expand="full" class="botones" routerLink="/mercadeo" color="tertiary">
                    <ion-icon name="tablet-portrait" slot="start"></ion-icon>
                    <ion-card-title text-center padding class="titulo1"><b>Mercadeo y Negocios</b></ion-card-title>                    
                    <!-- <ion-img src="assets/img/nuevo.png"></ion-img> -->
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <ion-button size="large" expand="full" class="botones" routerLink="/silvicultura"  color="tertiary">
                    <ion-card-title text-center padding class="titulo"><b>Silvicultura y Paisajismo</b></ion-card-title>
                    <ion-icon name="sunny" slot="start"></ion-icon>
                    <!-- <ion-img src="assets/img/eventos.png"></ion-img> -->
                </ion-button>
            </ion-col>
        </ion-row>
    <ion-row>
            <ion-col col-6>
                <ion-button size="large" expand="full" class="botones" routerLink="/cursos"  color="tertiary">
                    <ion-card-title text-center class="titulo"><b>Educacion y Cultura</b></ion-card-title>
                    <ion-icon name="pricetag" slot="start"></ion-icon>
                    <!-- <ion-img src="assets/img/eventos.png"></ion-img> -->
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- <ion-card *ngFor="let servicio of itemsServicios"> -->
        <!-- <ion-card-header> -->
            <!-- <ion-img [src]="servicio.get('imagen')"></ion-img> -->
            <!-- <ion-card-title>{{servicio.get('titulo')}}</ion-card-title> -->
        <!-- </ion-card-header> -->
        <!-- <ion-item> -->
            <!-- <ion-icon name="call" slot="start"></ion-icon> -->
            <!-- <ion-label>{{servicio.get('informacion')}}</ion-label> -->
            <!-- <ion-button fill="outline" slot="end" [routerLink]="['restaurantes']">Ver</ion-button> -->
        <!-- </ion-item> -->
        <!-- <ion-card-content> -->
            <!-- {{servicio.get('descripcion')}} -->
        <!-- </ion-card-content> -->
    <!-- </ion-card> -->


</ion-content>
