<ion-content>
    <br>
    <br>
    <br>

    <ion-grid padding>
        <ion-row>
            <ion-col col-6>
                <ion-button size="large" expand="full" class="botones" (click)="openUrl()"   color="tertiary">
                    <ion-card-title text-center>Vivero</ion-card-title>
                    <ion-icon name="rose" slot="start"></ion-icon>
                    <!-- <ion-img src="assets/img/herbal.png"></ion-img> -->
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <ion-button size="large" expand="full" class="botones" routerLink="/restaurantes" color="tertiary" >
                    <ion-icon name="pricetag" slot="start"></ion-icon>
                    <ion-card-title>Restaurantes</ion-card-title>                    
                    <!-- <ion-img src="assets/img/nuevo.png"></ion-img> -->
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <ion-button size="large" expand="full" class="botones" routerLink="/eventos"  color="tertiary">
                    <ion-card-title text-center>Eventos</ion-card-title>
                    <ion-icon name="wine" slot="start"></ion-icon>
                    <!-- <ion-img src="assets/img/eventos.png"></ion-img> -->
                </ion-button>
            </ion-col>
        </ion-row>
    <ion-row>
            <ion-col col-6>
                <ion-button size="large" expand="full" class="botones" routerLink="/cursos"  color="tertiary">
                    <ion-card-title text-center>Educ. y Cultura</ion-card-title>
                    <ion-icon name="pricetag" slot="start"></ion-icon>
                    <!-- <ion-img src="assets/img/eventos.png"></ion-img> -->
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- <ion-card *ngFor="let servicio of itemsServicios"> -->
        <!-- <ion-card-header> -->
            <!-- <ion-img [src]="servicio.get('imagen')"></ion-img> -->
            <!-- <ion-card-title>{{servicio.get('titulo')}}</ion-card-title> -->
        <!-- </ion-card-header> -->
        <!-- <ion-item> -->
            <!-- <ion-icon name="call" slot="start"></ion-icon> -->
            <!-- <ion-label>{{servicio.get('informacion')}}</ion-label> -->
            <!-- <ion-button fill="outline" slot="end" [routerLink]="['restaurantes']">Ver</ion-button> -->
        <!-- </ion-item> -->
        <!-- <ion-card-content> -->
            <!-- {{servicio.get('descripcion')}} -->
        <!-- </ion-card-content> -->
    <!-- </ion-card> -->


</ion-content>
