ion-tab-button {
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

ion-thumbnail ion-img {
  height: auto;
  width: 38px;
}
 ion-fab-button{
   width: 40px;
   height: 40px;   
 }
 ion-fab{
   height: 17%;
   color: darkgoldenrod;
  
 }
 .titulo{
   font-size: 18px;
   color: rgb(252, 255, 251);
 }
 

 