ion-tab-button {
  background: var(--ion-color-secondary);
  color: var(--ion-color-primary-contrast);
}

ion-thumbnail ion-img {
  height: auto;
  width: 40px;
}
.ic1{
 color: #3e64ff;
}
.ic2{
  color:#c70d3a;
 }
 .ic3{
  color: #10316b;
 }
 .ic4{
  color: #1089ff;
 }
 .ic5{
  color: rgb(81, 200, 81);
 }
 .ic6{
  color: rgb(221, 19, 19);
 }
 .btn{
   
   
  border-image: initial;
 }
