<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recomendaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h4 text-center>Bienvenidos a Nuestra Seccion de Politicas de Uso de Nuestras Instalaciones, aca Podras Visializar
      Material Referente Al Jardin Botanico. Si Deseas Obtener Mayor Informacion Seleccion Nuestro Link a Continuacion
    </h4>
    <!-- <div class="ion-padding">
          <ion-button expand="full" (click)="openLocalPdf()"><ion-icon name="ios-leaf"></ion-icon>Seleccionar PDF.</ion-button>        
        </div> -->

    <ion-card-content>
      <img src="./assets/img/politicas_imagen.jpg" alt="politicas">
    </ion-card-content>

  </ion-card>



  <ion-card>

    <ion-card-header class="titulos">
      <ion-card-title>
        <h1 text-center><b>POLÍTICAS EXTERNAS:</b></h1>
      </ion-card-title>
      <br>

      <ion-card-subtitle class="text">
        <h4 text-center><b> movilidad en jardin Botanico</b></h4>
      </ion-card-subtitle>
      <br>
      • Quienes usan la bicicleta como medio de transporte para visitarnos, podrán entrar con ella al parque, pero no
      está permitido usarla dentro de las instalaciones del Jardín.
      Solo el personal del Jardín Botánico está autorizado para utilizarla como instrumento de trabajo. Cada visitante
      se hace responsable de la seguridad del vehículo.
      Esta medida es temporal, trabajamos para ofrecerle un mejor servicio en el parqueo de bicicletas.
      <br>
      <br>
      • Al interior del Jardín NO está permitida la circulación de carros y motos entre las 8:00 am y las 6:00 pm.
      Existen muy pocas excepciones y requieren previa autorización,
      en estos casos la velocidad máxima permitida es de 10 km/h.
      <br>
      <br>
      <br>
      <hr>
      <h3 text-center><b>Colecciones vivas</b></h3>
      <hr>
      <br>
      <br>
      <ion-card-content>
        <img src="./assets/img/advertencia1.gif" alt="advertencia">
      </ion-card-content>

      • La fragilidad de las colecciones vivas que protegemos nos obliga a impedir el uso de balones, pelotas, frisbee y
      otros juguetes similares.
      <br>
      <br>
      • Por la misma razón, no está permitido el uso de carpas ni hamacas. Igualmente, está prohibido subirse a los
      árboles.
      <br>
      <br>
      • No está permitido alimentar, tocar o llevarse los animales del Jardín. Para ayudarnos a preservarlas, los
      visitantes no deben tocar, mutilar ni llevarse las plantas. Tampoco está permitido escribir ni tallar en sus
      troncos y hojas
      <br>
      <hr>
      <h3 text-center><b>Colecciones vivas</b></h3>
      <hr>
      <br>
      <br>
      <ion-card-content>
        <img src="./assets/img/PICNIC.PNG" alt="coleccion">
      </ion-card-content>

      <br>
      • El Jardín es un sitio ideal para hacer picnic, por eso permitimos traer fiambres de cualquier tipo, siempre que
      no requieran encender fuego para prepararlos o calentarlos. Las llamas generan riesgos de incendio o daños al
      césped y a las colecciones vivas. Al finalizar, no olvide recoger todos los residuos que genere.
      <br>
      <br>

      <hr>
      <h3 text-center><b> Eventos y alquiler de espacios</b></h3>
      <hr>
      <br>
      <br>
      <ion-card-content>
        <img src="./assets/img/coleccion.jpg" alt="coleccion">
      </ion-card-content>

      <br>
      • Los realizadores de eventos y quienes usan el Jardín como locación para fotografías y videos, cuentan con
      reglamentos específicos, que deben conocer y cumplir a cabalidad. Solicite un formato de grabación a través del
      correo electrónico comunicaciones@botanicomedellin.org
      <br>
      <br>
      • Hemos reservado algunos sitios en los que no está permitido consumir alimentos y bebidas, ni fumar. El Bosque
      Tropical y los auditorios, por ejemplo, son algunos espacios restringidos. Las excepciones que lo requieran, serán
      controlados directamente por el área de alquiler de espacios del Jardín Botánico.
      <br>
      <br>
      • No está permitido pegar avisos, clavos, cabuyas, manilas, nylon, alambres o similares que puedan deteriorar los
      muros, árboles, plantas, columnas metálicas o el aspecto general del Jardín Botánico.
      <br>
      <br>

      <hr>
      <h3 text-center><b>¿Qué actividades pueden realizar de manera gratuita dentro del Jardín? </b></h3>
      <hr>
      <br>
      <br>
      <ion-card-content>
        <img src="./assets/img/jardinBot.jpg" alt="jardin">
      </ion-card-content>

      <br>
      • Ingreso al Jardín Recorridos sin guía ambiental
      <br>
      <br>
      • Deportes: trotar, yoga, taichí y actividades de bajo impacto.
      <br>
      <br>

      • Fotos sociales (quinceañeras, prenatal, matrimonial, familiares y primera comunión) que no tengan fines
      comerciales.
      <br>
      <br>

      <ion-card>
        <table border=5 style="margin: 0 auto;">
          <p>
            <i text-center>Las actividades que se mencionan anteriormente, no debe en ningún momento ser de carácter
              lucrativo, en este caso,
              la Fundación podrá intervenir en el cobro de dichas actividades con fines comerciales.
            </i>
          </p>
        </table>
      </ion-card>

      <br>
      <br>
      <br>
      <ion-card-content>
        <img src="./assets/img/recomendaciones1.png" alt="jardin">
      </ion-card-content>

      <br>
      • Uso moderado de instrumentos y sonidos
      <br>
      <br>
      • Uso moderado de instrumentos y sonidos
      <br>
      <br>
      • En caso de lluvia no ubicarse debajo de los árboles
      <br>
      <br>
      • Autocuidado de sus objetos personales
      <br>
      <br>
      • En caso de emergencia, por favor acercase a uno de nuestros vigilantes o comunicarse al número 318 735 14 56.
      <br>
      <br>
      • Deposite las basuras en las canecas de aseo, así todos los visitantes encontrarán el Jardín limpio y agradable.
      <br>
      <br>
      • Conserve los avisos informativos y educativos.
      <br>
      <br>
      • Los menores de edad, deberán ingresar con un adulto responsable.
      <br>
      <br>
      <br>

      <hr>
      <h3 text-center><b>¿Qué está prohibido realizar, ingresar y utilizar dentro del Jardín? </b></h3>
      <hr>

      <ion-card-content>
        <img src="./assets/img/prohibido.jpg" alt="jardin">
      </ion-card-content>
      <ion-card>
        <table border=5 style="margin: 0 auto;">
          <p>
            <i text-center>Las restricciones que el Jardín presenta tienen como finalidad la protección y conservación
              de las colecciones vivas
              y las especies de fauna que habitan este lugar.
            </i>
          </p>
        </table>
      </ion-card>
      <br>
      • Ingreso de mascotas
      <br>
      <br>
      • Montar en bicicleta. (Sólo está autorizado para el personal de seguridad del Jardín)
      <br>
      <br>
      • Pegar avisos, clavos, cabuyas, manilas, nylon, alambres o similares en árboles, plantas,
      columnas metálicas o el aspecto general de la Fundación. Subirse a los árboles, tallarlos y en general
      utilizarlos.
      <br>
      <br>
      • El uso de carpas de camping, hamacas, ni similares.
      <br>
      <br>
      • Abandonar animales de ningún tipo.
      <br>
      <br>
      • Alimentar, tocar o llevarse los animales que hacen parte de la fauna del Jardín
      <br>
      <br>
      <ion-card-content>
        <img src="./assets/img/prohibido_fumar.jpg" alt="jardin">
      </ion-card-content>
      <br>
      • En las instalaciones de la Fundación por las características de nuestras colecciones vivas y la fauna que habita
      nuestro espacio.
      <br>
      <br>
      • Realizar ventas de cualquier tipo, recaudo de dinero por cualquier concepto y el ingreso de ventas ambulantes.
      <br>
      <br>
      • La predicación religiosa y/o política
      <br>
      <br>
      • Ingreso de todo tipo de armas, sustancias narcóticas, alucinógenas, grandes cantidades de licor
      <br>
      <br>
      • Evite actos de violencia y demostraciones exageradas de afecto que puedan incomodar a los asistentes.
      <br>
      <br>


    </ion-card-header>


  </ion-card>
</ion-content>