<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>Recomendaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<!-- <ion-button expand="full" (click)="openLocalPdf()">Open local Pdf</ion-button> -->
<!-- <ion-button expand="full" (click)="downloadAndOpenPdf()"> download And Open Pdf</ion-button> -->
<ion-card>
  <h4 text-center>Bienvenidos a Nuestra Seccion de Politicas de Uso de Nuestras Instalaciones, aca Podras Visializar Material Referente Al Jardin Botanico. Si Deseas Obtener Mayor Informacion Seleccion Nuestro Link a Continuacion</h4>
  <div class="ion-padding">    
    <h3 text-center style="color: blue;" (click)="openUrl()">Seleccionar PDF.<ion-icon name="paper" slot="end"></ion-icon></h3>
    
  </div>
</ion-card>
<br>
<img class="logo" src="assets/img/logojardin.png">
</ion-content>