<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>Recomendaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<!-- <ion-button expand="full" (click)="openLocalPdf()">Open local Pdf</ion-button> -->
<!-- <ion-button expand="full" (click)="downloadAndOpenPdf()"> download And Open Pdf</ion-button> -->

<div class="ion-padding">
  <ion-button (click)="openUrl()"> link al navegador</ion-button>
<p text-center style="color: blue;" (click)="openUrl()">mas informacion...</p>
 
</div>
</ion-content>