.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
hr{
  height: 10px;
  background-color: rgb(95, 131, 92);
}
.logo{
  width: 95%;
  height: 50%;
}
.fondo{
  background-image: url('/assets/recursos/recurso14.png');
}


