<ion-content>

    
<ion-content>
        

    <br>
    <ion-card-title class="ion-text-center" style="font-weight: bold; text-size:70pd">BIENVENIDOS</ion-card-title>
    <br>
    <img src="assets/img/verde.png">
    <br>
    <h2 class="ion-text-center">Mas de 46 Años de Historia!</h2>
    <p class="ion-text-center">
        Nuestra misión busca convertirnos en un escenario que fortalece la relación del ser humano con el entorno natural, pero también pensamos en el futuro. Por esta razón, en 2020 nos vemos como una institución líder en la trasformación de realidades.
    </p>
    <br>
    <p class="ion-text-center">
        Para lograr esto, orientamos nuestro quehacer en CUATRO EJES estratégicos que guían la labor y nos permite tener claros nuestros sueños.

    </p>
    <hr>

    
    <ion-card *ngFor="let objetosinicio of itemsInicio" class="fondo">
        <ion-card-title style="font-weight: bold" text-center>Noticias</ion-card-title>
        <ion-card-header>
            <ion-img [src]="objetosinicio.get('imagen')"></ion-img>
            <h6>{{objetosinicio.get('subtitulo')}}</h6>
            <ion-card-title>{{objetosinicio.get('titulo')}}</ion-card-title>
            
        </ion-card-header>
        
            <ion-card-content>         
                
                {{objetosinicio.get('hora')}}
                <br>
                {{objetosinicio.get('lugar')}}
                <br>
                {{objetosinicio.get('fecha')}}
                <br>
                <ion-button [href]="'/tabs/tab3'"><ion-icon name="ios-leaf" ></ion-icon>Ver</ion-button>                                        
                
            </ion-card-content>
                                    
    </ion-card>
   

  <br>
  <p class="ion-text-center">comunicaciones@jbotanico.org 4445500 ext.103/<br> Calle #73 51 D 14 Medellín, Colombia. www.botanicomedellin.org</p>
</ion-content>


