.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
hr{
  height: 10px;
  background-color: rgb(65, 124, 59);
}
.logo{
  width: 95%;
  height: 50%;
}
.parrafo{
  // background-image: url('/assets/recursos/recurso14.png');
}
.noticias{
  font-weight: bold;
  font-size: larger;
  font-size: 30px;
}

.img{
  width: 95%;
  height: 50%;
}
.fondo{
   //background-image: url('/assets/recursos/fondo1.png');
  // background-color: white;
}
.principal{
  color: #080808;
}
iframe{
  max-width: 100%;
  height: auto;
}