<ion-content>

    <ion-card class="fondo">
        <!-- <ion-card color="danger"> -->
        <!-- <h1 text-center style="font-weight: bold; text-size: 30px;">Bienvenidos</h1> -->
        <!-- <ion-card-header> -->

        <!-- <iframe height="300pd" width="290pd" -->
        <!-- src="https://yofasele.sirv.com/Images/jardinbotanico/desde%20el%20aire.mp4" frameborder="0" -->
        <!-- allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> -->
        <!-- </iframe> -->
        <!-- </ion-card-header> -->
        <!-- </ion-card> -->



        <h1 class="ion-text-center" style="color: black;" style="font-style: italic;font-weight: bold;">Mas de 46 Años
            de Historia!</h1>
        <br>
        <ion-card-title style="font-weight: bold" text-center>Mision</ion-card-title>
        <p class="ion-text-center" padding class="parrafo" text-center>
            Creamos experiencias de encuentro y convivencia para la ciudad, integradas a estrategias de investigación,
            conservación,
            educación y cultura asociadas a la biodiversidad y a la relación del ser humano con el entorno natural.
        </p>
        <ion-card>
            <img padding src="./assets/img/orquideograma.jpg">
        </ion-card>
        <br>
        <hr>
        <br>

        <ion-card-title style="font-weight: bold" text-center>Vision</ion-card-title>
        <p class="ion-text-center" padding class="parrafo" text-center>
            En el 2020, El Jardin Botanico "Joaquin Antonio Uribe" de Medellín sera reconocido como institucion lider
            en la transformacion de la Ciudad, promoviendo
            experiencias y escenarios vivos de educacion, que propicien cambios positivos frente a la relacion de las
            personas con el entorno en le marco de un desarrollo sostenible.
        </p>
        <ion-card>
            <img padding src="./assets/img/imagen.jpeg">
        </ion-card>
        <br>
        <hr>
        <br>
        <ion-card>
            <!-- <h1 text-center style="font-weight: bold; text-size: 30px;">Bienvenidos</h1> -->
            <ion-card-header>

                <iframe height="300pd" width="290pd"
                    src="https://yofasele.sirv.com/Images/jardinbotanico/desde%20el%20aire.mp4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </ion-card-header>
        </ion-card>

        <br>
        <br>
        <hr>
        <br>



        <ion-card-title class="noticias" text-center>Noticias</ion-card-title>


        <ion-card>

            <ion-slides padding pager="true">
                <ion-slide *ngFor="let Noticias of itemsInicio" class="fondo">
                    <ion-img [src]="Noticias.get('imagen')"></ion-img>
                </ion-slide>
            </ion-slides>

            <ion-card-content>
                <ion-button [href]="'/tabs/tab3'">
                    <ion-icon name="ios-leaf"></ion-icon>Ver
                </ion-button>
            </ion-card-content>
        </ion-card>
        <br>
       
    </ion-card>

    <img padding src="./assets/img/inicio.png">
    
    <img class="img" padding src="./assets/img/sura.png">
    <img padding class="img" src="./assets/img/GrupoArgos.png" height="120pd" width="360pd">
    <br>
    <br>
    <br>
    <br>
    <img padding class="img" src="./assets/img/pintuco,.png" height="200pd" width="360pd">
    <img padding class="img" src="./assets/img/alcaldia.png" height="200pd" width="360pd">
    <img padding class="img" src="./assets/img/forjas.png" height="200pd" width="360pd">


    <br>
    <p class="ion-text-center">comunicaciones@jbotanico.org 4445500 ext.103/<br> Calle #73 51 D 14 Medellín,
        Colombia. www.botanicomedellin.org</p>








</ion-content>