<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/imag/logojardin.png" alt="" />
    </ion-card>
    <ion-card >
      <ion-card-header>
        <ion-card-title style="text-align: center;">Bienvenidos</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>     
      <ion-card-content>
        <p>Descubre todo lo que puedes saber del jardin botanico de medellin desde tu dispositivo movil. Disfruta de un recorrido por Nuestras Instalaciones.</p>
        <br>
      </ion-card-content>
    </ion-card>
    <ion-card>   
      <ion-list>
        <p>El Jardín Botánico de Medellín es una fundación privada sin ánimo de lucro, que se ha convertido en un proyecto de ciudad con un objetivo claro: transformarse en un espacio de encuentro ciudadano, el lugar donde se investiga y se conserva la biodiversidad colombiana, que transforma al ser humano y su entorno a través de la educación y la cultura y por último, ser una organización con solidez institucional con el fin de contribuir a la sostenibilidad ambiental y social del planeta.</p>
      </ion-list>
    </ion-card>
</ion-content>
