.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
hr{
  height: 10px;
  background-color: rgb(95, 131, 92);
}
.logo{
  width: 95%;
  height: 50%;
}
.parrafo{
  // background-image: url('/assets/recursos/recurso14.png');
}
.noticias{
  font-weight: bold;
  font-size: larger;
  font-size: 30px;
}
hr{
  background-color: rgb(255, 255, 255);
  height: 3px;
}
.img{
  width: 95%;
  height: 50%;
}
.fondo{

}

