<ion-content>
    <ion-card>
        <img src="assets/img/libro.jpg">
        <ion-card-content class="ion-text-center">
            <b>
            Bienvenidos a Nuestro Portafolio de Actividades, Aca Podras Encontrar diferentes Talleres y Cursos que en Compañia de Tus Familiares Podras Disfrutar. Solo tienes que Inscribirte!
            </b>
        </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let item of itemsPortafolios">    
        <ion-item>
            <ion-icon name="paper" slot="start"></ion-icon>
            <ion-label>{{item.get('titulo')}}</ion-label>
            <ion-button fill="outline" slot="end" (click)="enviarPortafolioVista(item)">Ver</ion-button>
        </ion-item>
        <ion-card-content>
            {{item.get('descripcion')}}
        </ion-card-content>
        <ion-card-content>
            {{item.get('hora')}}
            <br>
            {{item.get('lugar')}}
            <br>
            {{item.get('fecha')}}
            <br>
            {{item.get('valor')}}
        </ion-card-content>
    </ion-card>

</ion-content>
