<ion-content>
     <!-- <ion-card> -->
        <img src="assets/img/carpeta.png">
        <ion-card-content class="ion-text-center">
        </ion-card-content>
     <!-- </ion-card> -->

    <ion-card *ngFor="let item of itemsPortafolios">    
        <ion-item>
            <ion-icon name="paper" slot="start"></ion-icon>
            <ion-label>{{item.get('titulo')}}</ion-label>
            <ion-button routerLink="/login"><ion-icon name="ios-leaf" ></ion-icon>Inscribirse</ion-button>
            <!-- <ion-button fill="outline" slot="end" >Ver</ion-button> -->
        </ion-item>
        <ion-card-content>
            {{item.get('descripcion')}}
            <br>
            <ion-img [src]="item.get('imagen')"></ion-img>
        </ion-card-content>
        <ion-card-content>
            {{item.get('hora')}}
            <br>
            {{item.get('lugar')}}
            <br>
            {{item.get('fecha')}}
            <br>
            {{item.get('valor')}}
        </ion-card-content>
    </ion-card>

</ion-content>
