<ion-header>
  <ion-toolbar color="nuevo">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Investigacion y conservacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card padding>
    <ion-card-content>
      <img src="/assets/img/inves1.png" alt="mercadeo ">
    </ion-card-content>
    <br>
    <br>
    <ion-card-content>
      <img src="/assets/img/inves2.png" alt="mercadeo ">
    </ion-card-content>
    <br>
    <br>
    <b> Exploraciones y estudios ?orísticos:</b> realizamos inventarios y estudios específicos del estado y composición
    de la vegetación, así como estrategias de rescate y reintroducción de plantas. También estudiamos y monitoreamos
    epífitas.
    <br>
    <br>
    <b>Identi?cación taxonómica de plantas:</b> la realizamos gracias a un equipo de botánicos expertos y un centro de
    documentación especializado. Tenemos espacios e infraestructura adecuada para que empresas consultoras, de
    investigación y personas naturales realicen sus procesos de identificación taxonómica. Prestamos el servicio de
    alquiler del horno para secado del material vegetal.
    <br>
    <br>
    <b>Estudios de botánica aplicada:</b> implementamos diferentes técnicas de investigación para conocer y valorar los
    usos de las plantas. Realizamos estudios de caracterización, uso y aprovechamiento sostenible de productos
    vegetales, como alternativa para las comunidades rurales y la generación de empresas de innovación.
    <br>
    <br>
    <b>Silvicultura urbana:</b> desarrollamos programas de investigación que permitan potenciar las zonas urbanas. En
    nuestro vivero de producción propagamos especies que se puedan adaptar a las condiciones de ciudad.
    <br>
    <br>
    <b>Estudios de fauna:</b> Tenemos la capacidad de abordar diferentes necesidades como la realización de inventarios,
    asesorías, rescate y manejo de fauna.
    <br>
    <br>
    <b>Estudios de Impacto Ambiental (EIA):</b> realizamos estudios de acuerdo con los términos de referencia exigidos
    por las autoridades ambientales. Brindamos asesoría en la ejecución de proyectos y planes de mitigación ambiental.
    <br>
    <br>
    <ion-card-content>
      <img src="/assets/img/conse1.png" alt="mercadeo ">
    </ion-card-content>
    <br>
    <br>
    <b>Programas de manejo y conservación de especies en peligro de extinción: </b> asesoramos y establecemos protocolos
    para la preservación de las especies tanto in situ como ex situ. Realizamos programas de propagación de plantas, y
    sensibilización con comunidades.
    <br>
    <br>
    <b>Procesos de restauración:</b> aplicamos diferentes metodologías, a partir de una visión integral del ecosistema,
    para recobrar la cobertura del bosque a partir de especies nativas. Así mismo, empleamos estrategias para monitorear
    los alcances de la restauración a mediano y largo plazo.
    <br>
    <br>
    <b>Propagación de árboles y plantas para la región:</b> asesoramos el establecimiento de colecciones de plantas con
    fines de conservación.
    <br>
    <br>
    <b>Establecimiento y manejo de viveros:</b> asesoramos con el fin de propagar especies que se adapten a las
    condiciones de la región y acorde con las demandas de material vegetal; además, se ofrecen programas de
    capacitación.
    <br>
    <br>
    <br>
    <ion-card-content>
      <img src="/assets/img/permisos.png" alt="mercadeo ">
    </ion-card-content>
    <br>
    <br>
    <br>
    • Permiso marco de estudios con fines de investigación científica en diversidad biológica (Resolución 01711 del 30
    de dic 2016 de la ANLA).
    <br>
    <br>
    • Permiso de estudios con fines de elaboración de estudios ambientales en diversidad biológica (Resolución 01684 del
    21 de dic 2017 de la ANLA).
    <br>
    <br>
    • Registro Nacional de Colecciones Biológicas RNC 120 2009-11-13 ante el Instituto Alexander von Humboldt que avala
    las colecciones vivas del Jardín Botánico.
    <br>
    <br>
    • Registro RNC 033 2009-11-13 ante el Instituto Alexander von Humboldt, que avala las colecciones del herbario JAUM.
    <br>
    <br>
    • Registro ICA Nro. 00010611 del 29 de agosto de 2017 para producción de especies de árboles, arbustos y frutales.
    <br>
    <br>
    <b> Vivero de producción:</b> Durante los últimos años hemos propagado más de 200 especies de árboles que se han
    sembrado en el Valle de Aburrá y regiones cercanas. Contamos con un vivero certificado por el ICA para dichas
    labores, en los que ofrecemos paquetes de conservación enfocados a las necesidades de nuestros clientes, prestando
    la asesoría para la mejor selección de especies y buscando contribuir a la conservación de la biodiversidad.
    <br>
    <br>
    <b>Reserva Natural “El Centello” </b> Con 160 hectáreas, nuestra reserva hace parte de un corredor biológico natural en la Cordillera Occidental, el Distrito de Manejo Integrado Cuchilla Jardín Támesis. Ubicada en el municipio de Jardín, Antioquia, es una zona de conservación donde adelantamos programas de investigación, restauración y conservación.
    <br>
    <br>

  </ion-card>

  <ion-card-content>
    <img src="/assets/img/contactos.png" alt="mercadeo ">
  </ion-card-content>


</ion-content>