<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Investigacion y conservacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true">
    <ion-slide>

      <ion-card padding class="img">
        <h1 text-center class="color">Proceso de Investigacion</h1>
        <p><b>Transferir conocimiento es nuestro propósito</b>. Buscamos comprender, conservar y utilizar de manera
          sostenible
          y responsable la diversidad vegetal del país, por este motivo, nos sumamos a las Estrategias Mundiales para la
          Conservación de las Plantas, de especies vegetales (2011-2020) y A la Estrategia de Conservación Nacional de
          Plantas. (Convenio sobre la Diversidad Biológica, 2012).

          <b>Nuestras acciones van más allá de la colección e identificación de plantas</b>, también desarrollamos
          programas de
          investigación para transformar las zonas verdes urbanas con arbustos, palmas, epifitas, jardines verticales,
          entre otras colecciones. Gracias a esto se evalúa cuáles son las prácticas apropiadas para el manejo forestal.
        </p>




        <h1 class="color">Nuestros servicios</h1>

        <p>

          <b>. Investigación</b> básica y aplicada.
          <br><br>
          <b>. Procesamiento y digitalización</b> de material botánico.
          <br><br>
          <b>. Identificación</b> taxonómica de especies.
          <br><br>
          . Servicio de <b>herbario.</b>
          <b>. Comercialización</b> de material vegetal e insumos asociados.
          <br><br>
          <b>. Asesoría</b> en establecimientos de jardines, siembra de plantas, control de plagas y fitosanitario.
          <br><br>
          <b>. Asesoría</b> en el establecimiento de viveros de producción.
          <br><br>
          <b>. Producción de material vegetal</b> con principios científicos y técnicos.
          <br><br>
          . Desarrollo de <b>protocolos de siembra</b>.
          <br><br>
          <b>. Propagación</b> de material vegetal.
          <br><br>
          . Nuestra reserva natural <b>El Centello</b> es un lugar único para realizar ecoturismo científico y servicios
          de
          compensación forestal. También realizamos asesorías en establecimiento de colecciones y conservación Ex Situ.

        </p>

        <iframe padding width="340" height="210" src="https://www.youtube.com/embed/_lvX6vZ1Qd4" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



      </ion-card>

    </ion-slide>


    <ion-slide>


      <ion-card padding class="img1">
        <h1 text-center class="color"> Líneas de investigación </h1>
        <p>
          <br>
          <br>

          1. <b> Biología de la conservación </b> y fortalecimiento de prácticas apropiadas de manejo forestal que
          permiten mitigar o adaptarse al cambio climático.
          <br>
          <br>
          2. Caracterización Biótica y Taxonómica.
          <br>
          <br>
          3. <b> Botánica Económica.</b>
          <br>
          <br>
          4. Silvicultura Urbana.
          <br>
          <b> Cuente con el conocimiento del grupo de científicos y su Herbario</b>, para llevar a cabo diversas
          iniciativas de investigación en relación con las plantas.
          <br>
          <br>
          Estas son algunas de esas posibilidades:</p>


        <ion-slides pager="true">

          <ion-slide>
            <ion-card>
              <img src="/assets/recursos/inve1.jpg">
              <p padding><b class="color">Conservación de plantas</b>
                Estamos en capacidad de establecer <b> arboretos, bancos de germoplasma y de desarrollar protocolos de
                  propagación </b> de especies vegetales que permitan seleccionarlas según el ecosistema y el propósito
                de siembra. Desarrollamos proyectos de restauración ecológica, haciendo énfasis en la utilización de
                plantas en peligro de extinción.</p>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <img src="/assets/recursos/inve2.jpg">
              <p padding><b class="color">Asesoría y consultoría</b>
                Asesoramos el montaje de jardines botánicos <b> desde su formulación hasta la ejecución de proyectos
                  relacionados con la flora </b> y las prácticas de conservación. Establecemos parcelas permanentes para
                el monitoreo de los ecosistemas. Realizamos estudios de captura de CO2 y formulamos planes de manejo
                ambiental, entre otras actividades.</p>






            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <img src="/assets/recursos/inve3.jpg">
              <p padding><b class="color">Reserva Centello (Jardín - Antioquia).</b>
                La reserva natural El Centello tiene <b> 135 hectáreas </b> y hace parte de un corredor biológico
                natural en la cordillera occidental. <br> <b> Ubicada en el municipio de Jardín, Antioquia </b> es parte
                nuestra institución gracias a una donación del Grupo Nutresa. Un lugar único y especial para servicios
                de compensación forestal y ecoturismo científico.</p>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <img src="/assets/recursos/inve4.jpg">
              <p padding><b class="color">Investigación básica y aplicada.</b>
                La tradición investigativa de <b> 38 años de experiencia </b>, sumada al Herbario más completo en flora
                de la región y del Chocó biogeográfico, hacen del Jardín Botánico de Medellín un aliado indiscutible
                para la ciencia. <br> Los <b> estudios taxonómicos, florísticos y etnobotánicos </b> en los que es
                especialista, lo convierten en una importante fuente de conocimiento para Colombia y el mundo. <br> Las
                investigaciones en curso o bajo solicitud, lo mismo que las labores de consultoría, los estudios de
                impacto ambiental o la investigación aplicada, son servicios al alcance de las entidades públicas y
                privadas.</p>
            </ion-card>
          </ion-slide>

        </ion-slides>
      </ion-card>

    </ion-slide>



  </ion-slides>

</ion-content>