p{
    text-align: left;
    color:black;
}
.color{
    color: rgb(46, 160, 97);
}
ion-content{
    font-family:  Helvetica;
    
}
.img{
    background-image: url("/assets/recursos/recurso44.png"); 
}
.img1{
    background-image: url("/assets/recursos/recurso44.png"); 
    
}
