<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mercadeo y Negocios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <img src="./assets/img/titulo.PNG" alt="mercadeo ">
    </ion-card-content>
    <br>
    <br>
    <ion-card-content>
      <img src="./assets/img/olores&salbores.PNG" alt="mercadeo ">
    </ion-card-content>
    <br>
    <br>
    Que invitan a vivir experiencias gastronómicas para todos los gustos
    <br>
    <br>
    Operamos directamente cinco negocios de alimentos y bebidas,
    los cuales contribuyen de manera directa con la sostenibilidad de la fundación,
    pues con los recursos obtenidos llevamos a cabo las actividades de mantenimiento,
    investigación y protección de las 13.2 hectáreas de zonas verdes de este entorno natural.
    <br>
    <br>
    El compromiso con nuestros comensales es brindarles momentos que contribuyan con su bienestar, por medio de una
    oferta saludable y orgánica.
    <br>
    <br>
    Nos hemos consolidado como un espacio para el encuentro de ciudad, miles de visitantes cada año disfrutan de
    nuestros espacios y eventos,
    es por eso que nuestros restaurantes se han convertido en un paso obligado de todos aquellos que llegan a nuestro
    parque.
    <br>
    <br>
    <ion-card-content>
      <img src="./assets/img/jardin_momentos_especiales.PNG" alt="mercadeo ">
    </ion-card-content>
    <br>
    <br>
    <hr>
    <ion-card-title>
      <h6 text-center><b>Restaurante In Situ: </b></h6>
    </ion-card-title>
    <hr>
    <br>
    <br>
    <p> In Situ es un espacio para compartir encuentros casuales y elegantes, donde la atención, la calidad y el
      servicio se destacan. Inaugurado en el año 2008,
      In Situ ofrece una experiencia diferente para cada momento del día, un desayuno con amigos y compañeros de
      trabajo, un delicioso brunch,
      un almuerzo solo o con pareja y una deliciosa cena romántica con familiares y amigos. También somos el lugar
      adecuado para la celebración
      de sus eventos y fechas especiales.
    </p>
    <br>
    <ion-card>
      <table border=5 style="margin: 0 auto;">
        <p>
          <i text-center>Abrimos de lunes a domingo, recomendamos hacer su reserva en los
            <br>
            teléfonos 320 85 07 - 444 5500 ext. 138 y en el correo electrónico reservas@jbotanico.org
          </i>
        </p>
      </table>
      <br>
    </ion-card>
    <br>
    <br>
    <ion-card-content>
      <img src="./assets/img/propuestas_gastronomia.PNG" alt="mercadeo ">
    </ion-card-content>
    <br>
    <hr>
    <ion-card-title>
      <h6 text-center><b>• Del Bosque Restaurante Café </b></h6>
    </ion-card-title>
    <hr>
    <br>
    <br>
    <p> Disfrutar de una comida típica o tardear con amigos, es algo que puede hacer en Del Bosque Restaurante Café,
      localizado en el acceso peatonal principal. Nuestros visitantes podrán disfrutar de diferentes propuestas
      gastronómicas en un ambiente natural:
      desayunos saludables para la mañana, menú ejecutivo o algo de parrillada para disfrutar en el almuerzo. Además,
      para pasar la tarde,
      tenemos una oferta de bebidas y comida para picar y seguir disfrutando de la experiencia que solo brinda el Jardín
      Botánico de Medellín. </p>
    <br>
    <hr>
    <ion-card-title>
      <h6 text-center><b>• Estación Carboneros Plazoleta del Encuentro </b></h6>
    </ion-card-title>
    <hr>
    <br>
    <p>Es un espacio pensado para el disfrute y encuentro de nuestros comensales, con una oferta variada de comidas
      rápidas a muy buen precio.
      Los visitantes del Jardín se sentirán en una estación del Ferrocarril de Antioquia. </p>
    <br>
    <br>
    <hr>
    <ion-card-title>
      <h6 text-center><b>• Servicio de catering </b></h6>
    </ion-card-title>
    <hr>
    <br>
    <p> Pensando en ofrecerle un portafolio integral de alimentos y bebidas para sus eventos traemos diferentes
      productos, servicios y experiencias
      para complementar aún más su experiencia gastronómica dentro del Jardín. En la cocina central, nuestros chefs
      están en la capacidad de atender
      desde refrigerios hasta cenas, todo lo que usted necesita en un mismo lugar y en cualquier sitio del Jardín.
      Atendemos todo tipo de evento.
    </p>
    <br>
    <hr>
    <ion-card-title>
      <h6 text-center><b>•Ventas satélites </b></h6>
    </ion-card-title>
    <hr>
    <br>
    <p>Oferta variada de antojos y dulces tradicionales, es lo que pueden encontrar nuestros visitantes cuando recorren
      el Jardín.
      Crispetas, obleas, algodón de azúcar, jugos, frutas y hasta paletas es lo que disfrutarán diariamente en las
      instalaciones. </p>
    <br>

  </ion-card>

  <ion-card-content>
    <img src="./assets/img/informacion_mercadeo.PNG" alt="mercadeo ">
  </ion-card-content>


</ion-content>