<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="tab4"></ion-back-button>
      </ion-buttons>  
    <ion-title>Vivero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-title text-center style="font-weight: bold; text-size:70pd"> Vivero de Produccion</ion-card-title>
      <ion-card-content text-center>
          Los jardines botánicos tenemos el compromiso de velar y fomentar la conservación de recursos naturales importantes para la humanidad. Con el propósito de avanzar en esta tarea, el Jardín Botánico de Medellín dispone de espacios destinados a la propagación y comercialización de plantas.
          <br>
          Como una institución que reconoce y asume su misión en el ámbito de la conservación de plantas, los viveros de producción y comercialización desarrollan proyectos de investigación encaminados a generar información y material vegetal con altos estándares de calidad, enfatizando en aquellas especies o grupos de plantas clasificados en alguna categoría de riesgo a la extinción.
          <br>
          <br>
          <img src="assets/img/matero.jpg">
          <br>
          <img src="assets/img/matero.jpg">
          <br>
          <img src="assets/img/matero.jpg">
          <br>
          Encuentre con nosotros las plantas que busca para su casa o su finca, para un proyecto urbano o una iniciativa rural.  Disponemos de diferentes líneas ornamentales, árboles nativos, plantas en peligro de extinción, helechos, entre otros. Nuestro personal lo asesorará acerca del material adecuado a sus necesidades y los cuidados que debe tener para asegurar su conservación y belleza.
          <br>
          <br>
          Estas son algunas especies que pueden encontrar en nuestro Vivero Comercial. Si desea información adicional, puede comunicarse en el 4445500 extensión 126.

      </ion-card-content>

  </ion-card>

</ion-content>
