<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Silvicultura y Paisajismo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >

  <ion-card>

    <ion-card-header class="titulos">

      <ion-card-content>
        <img src="./assets/img/portada_silvicultura.PNG" alt="silvicultura">
      </ion-card-content>
      <hr>
      <ion-card-title>
        <h6 text-center><b>CONTAMOS CON UN PORTAFOLIO DE SERVICIOS ESPECIALIZADO</b></h6>
      </ion-card-title>
      <hr>
      <br>
      <br>
      <br>
      • Jardinería y manejo de vegetación.
      <br>
      <br>
      • Control de plagas, enfermedades y fertilización especializada.
      <br>
      <br>
      • Conservación vegetal.
      <br>
      <br>
      • Disposición adecuada de desechos vegetales.
      <br>
      <br>
      • Manejo arbóreo.
      <br>
      <br>
      • Transformación de residuos leñosos.
      <br>
      <br>
      <!-- <hr>
                <ion-card-subtitle class="text">
                    <h4 text-center><b >Servicios especiales:</b></h4> 
                </ion-card-subtitle>
                <hr> -->
      <ion-card-content>
        <img src="./assets/img/portafolio_servicios_especial.PNG" alt="silvicultura">
      </ion-card-content>
      <br>
      • Diagnóstico y ejecución de estudios de impacto ambiental.
      <br>
      <br>
      • Aplicación de sistemas de información geográfica.
      <br>
      <br>
      • Levantamiento de inventarios forestales y formulación de planes de compensación.
      <br>
      <br>
      • Levantamiento de línea base de fauna y formulación de estrategias de manejo.
      <br>
      <br>
      • Elaboración de estudios de conectividad ecológica.

      <br>
      <br>
      <br>

      <ion-card-content>
        <img src="./assets/img/silvicultura1.PNG" alt="silvicultura">
      </ion-card-content>

    </ion-card-header>

    <ion-card-content>


      <ion-card-content>
        <img src="./assets/img/paisaje.PNG" alt="diseño del paisaje">
      </ion-card-content>
      <!-- <h3 text-center><b> TALLER DEL DISEÑO PAISAJE</b></h3> -->

      <br>
      <br>
      <ion-card-content>
        <img src="./assets/img/silvicultura.jpg" alt="paisaje">
      </ion-card-content>
      Toda nuestra experiencia técnica y capacidad humana está a su disposición, para prestarle un servicio que
      combina CONOCIMIENTO, FUNCIONALIDAD, INNOVACIÓN Y CREATIVIDAD para diseñar paisajes y jardines con un sentido
      particular.
      Contamos con un PORTAFOLIO ESPECIALIZADO donde usted encontrará:
      • Diseño y remodelación de jardines.
      • Asesoría técnica.
      • Productos y/o servicios complementarios.
      <br>
      <br>


      <ion-card>
        <table border=5 style="margin: 0 auto;">
          <p>
            <i text-center>Si quiere conocer más acerca de nuestros proyectos de Silvicultura y Paisajismo, escríbanos
              por medio de cualquiera de nuestros canales:
              <br>
              <br>
              comunicaciones@jbotanico.org 4445500 ext.163 / Calle #73 51 D 14 Medellín, Colombia.


            </i>
          </p>
        </table>
        <ion-button class="botones" (click)="openUrl()" color="tertiary">
          <ion-icon name="tablet-portrait" slot="start"></ion-icon>
          botanicomedellin.org

        </ion-button>
      </ion-card>

    </ion-card-content>

  </ion-card>

</ion-content>
