<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons> 
    <ion-title>Parqueadero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-content >
      <img src="./assets/img/entrada.jpg" alt="jardin_botanico">
    </ion-card-content>
  
      <h1><b>PARQUEADERO</b></h1>

            <p text-center>Por seguridad de todos el ingreso y la salida para peatones solo será por el Edificio de Acceso del Jardín, ubicado a pocos pasos de la estación Universidad del Metro. La entrada por nuestro parqueadero solo estará habilitada para aquellas personas que nos visiten en vehículo.
      
              Contamos con 120 celdas de parqueo para carro, 30 para motos y 2 lugares para discapacitados. Tenemos vigilancia permanente y cámaras de seguridad.
          </p>
  
      <h2><b>--Tarifas--</b></h2>
      <br>
      <div style="text-align:center;">
        <table border="5" style="margin: 0 auto;">
          <tr id="titulo">
            <th scope="col"> Vehiculos </th>
            <th scope="col"> valor hora o fraccion </th>
            <th scope="col"> valor dia </th>
          </tr>
          <tr>
            <td><b>Carro</b></td>
            <td>$3000</td>
            <td>$12000</td>
          </tr>
          <tr>
            <td><b>Moto</b></td>
            <td>$1000</td>
            <td>$4000</td>
         </tr>
        </table>  
        </div>
        <p text-center>Esta debe pagarse al ingreso, de lo contrario el cobro será por horas.</p>
  </ion-card>

</ion-content>
