<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>  
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-title text-center style="font-weight: bold; text-size:70pd">Realiza Tus Eventos Con Nosotros</ion-card-title>
      <ion-card-content text-center>
          Te esperamos para que oxigenes tus encuentros y compartas momentos memorables, rodeado de naturaleza en el mejor recinto no convencional de Colombia.
          <br>
          Una alternativa que le permite respirar y disfrutar de un paisaje inigualable en el lugar, no convencional, más natural de la ciudad.
          <br>
          <br>
          Contamos con más de 20 espacios cerrados o exteriores, con cómodos equipamientos que se adaptan a tus necesidades.
          <br>
          <br>
          Cubiertos: Salón Humboldt, Salón Linneo, Gran Salón Mutis, Salón Restrepo, Auditorio Aurita López. Incluyen silletería básica, video beam y pantalla de proyección.
          <br>
          <br>
          Exteriores: Teatro Sura, Patio de Las Azaleas, Jardín de Piedras, Jardín del Desierto, Parque de Los Carboneros, Deck del Bosque, Deck del Lago y variadas zonas verdes.
          <br>
          <br>
          Otros: activaciones de marcas, locaciones comerciales (fotografía y video), picnics y alquiler del parque completo.
          <br>
          <br>
          El gran vínculo de nuestros espacios con la naturaleza, es nuestro mayor valor agregado.
          <br>
          <br>
          
          <img src="assets/img/recorrido.jpg">
          <br>
          <img src="assets/img/recorrido.jpg">
          <br>
          <img src="assets/img/recorrido.jpg">
          <br>
          Encuentre con nosotros las plantas que busca para su casa o su finca, para un proyecto urbano o una iniciativa rural.  Disponemos de diferentes líneas ornamentales, árboles nativos, plantas en peligro de extinción, helechos, entre otros. Nuestro personal lo asesorará acerca del material adecuado a sus necesidades y los cuidados que debe tener para asegurar su conservación y belleza.
          <br>
          <br>
          Estas son algunas especies que pueden encontrar en nuestro Vivero Comercial. Si desea información adicional, puede comunicarse en el 4445500 extensión 126.

      </ion-card-content>
    </ion-card>

</ion-content>
