<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>  
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let eventos of itemseventos">

        <h1 text-center><b>{{eventos.get('titulo')}}</b></h1>    
        <ion-img [src]="eventos.get('imagen')"></ion-img>
        
        <ion-card-content>
          
          <h5>{{eventos.get('descripcion')}}</h5>
              
        </ion-card-content>
        
      </ion-card>

</ion-content>
