<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>  
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let eventos of itemseventos">
    <ion-card-header>
      <ion-card-title class="info"><h1> {{eventos.get('titulo')}} </h1></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img [src]="eventos.get('imagen')"></ion-img>
      <br>
      <p > {{eventos.get('descripcion')}} </p>    
      <br> 
      <ion-card-title class="info"><h1> Capacidad y montajes </h1>  </ion-card-title>
      <br>
      <ion-img [src]="eventos.get('capacidad_montaje')"></ion-img>
    </ion-card-content>

  </ion-card>

</ion-content>
