<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button  [defaultHref]="tab4"></ion-back-button>
      </ion-buttons>  
    <ion-title>Gastronimia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let restaurantes of itemsrestaurantes">

    <ion-label>{{restaurantes.get('titulo')}}</ion-label>
    <ion-img [src]="restaurantes.get('imagen')"></ion-img>

    <ion-card-content>
      <h5>{{restaurantes.get('descripcion')}}</h5>
      <h5>Platos:</h5>
      <br>
      <h6> {{restaurantes.get('platos')}}</h6>
          
    </ion-card-content>
    
  </ion-card>


</ion-content>
