<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>  
    <ion-title>Restaurantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
       <ion-card-title>Restaurante 1</ion-card-title>
      <ion-img src="/assets/img/via.jpg"></ion-img>
    </ion-card-header>
      <ion-card-content>                 
        <h6>discripcion del restaurante........................................................</h6>
        <h6>platos:
          <br>
          1.plato1
          <br>
          2.plato2
          <br>
          3.plato3
          <br>
          4.plato4
        </h6>
      </ion-card-content>

      <ion-card-header>
          <ion-card-title>Restaurante 1</ion-card-title>
         <ion-img src="/assets/img/via.jpg"></ion-img>
       </ion-card-header>
         <ion-card-content>                 
           <h6>discripcion del restaurante........................................................</h6>
           <h6>platos:
             <br>
             1.plato1
             <br>
             2.plato2
             <br>
             3.plato3
             <br>
             4.plato4
           </h6>
         </ion-card-content>

         <ion-card-header>
            <ion-card-title>Restaurante 1</ion-card-title>
           <ion-img src="/assets/img/via.jpg"></ion-img>
         </ion-card-header>
           <ion-card-content>                 
             <h6>discripcion del restaurante........................................................</h6>
             <h6>platos:
               <br>
               1.plato1
               <br>
               2.plato2
               <br>
               3.plato3
               <br>
               4.plato4
             </h6>
           </ion-card-content>
  </ion-card>


</ion-content>
